
@{
    ViewBag.Title = "Accueil";
}
<h1>Gestionnaire de Vidéothèque</h1>

<h2>Accueil</h2>

<ul>
    <li>@Html.ActionLink("Ajouter un film", "Create", "Home")</li>
    <li>@Html.ActionLink("Rechercher un film", "Search", "Home")</li>
</ul>




