<head>
    <style>
        .boutonmenuprincipal {
            background-color: #e83737;
            color: white;
            border: none;
            cursor: pointer;
            padding: 20px;
            margin-top: 20px;
            font-size: 30px;
        }

            .boutonmenuprincipal:hover {
                background-color: #ff4444;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-child {
            display: none;
            background-color: #f28c8c;
            min-width: 50px;
        }

            .dropdown-child a {
                color: white;
                padding: 20px;
                text-decoration: none;
                display: block;
            }

        .dropdown:hover .dropdown-child {
            display: block;
        }
    </style>
</head>
@{
    ViewBag.Title = "Accueil";
}
<h1>Gestionnaire de Vidéothèque</h1>

<h2>Accueil</h2>

<a href="Create"><input type="submit" value="Ajouter un film" class="btn btn-primary" /></a>





<h2>Search</h2>

<div class="dropdown">
    <button class="boutonmenuprincipal">Recherche par</button>
    <div class="dropdown-child">
        <a href="SearchByName">Nom</a>
        <a href="SearchByCategory">Catégorie</a>
        <a href="SearchByRealisator">Réalisateur</a>
        <a href="SearchByDate">Année</a>
    </div>
</div>


