
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<ul>
    <li>Thibault Pares : <a href="https://github.com/Quarren">Github</a></li>
    <li>Nozithello Ncube : <a href="https://github.com/NozitheloNcube">Github</a></li>
    <li>Kevin Daniel : <a href="https://github.com/DnlKevin">Github</a></li>
</ul>

